@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center content">
    <h1 class="display-4">Agregar usuario</h1>
    
    <div class="d-grid col-1">
        <h5>Nombre</h5>
        <input id="nombre" type="text" />
        <h5>Apellido</h5>
        <input id="apellido" type="text"/>
        <h5>Documento</h5>
        <input id="documento" type="text" />
        <button class="mx-4" id="edit_user">Editar</button>
        <button class="mt-4" id="sendus">Enviar</button>
    </div>

    <h1 class="display-4">Agregar Libro</h1>

    <div class="d-grid col-1">
        <h5>Nombre</h5>
        <input id="nombre_lb" type="text" />
        <h5>ISBN</h5>
        <input id="isbn" type="text" />
        <button class="mx-4" id="edit_Libro">Editar</button>
        <button class="mt-4" id="sendlb">Enviar</button>
    </div>

    <h1 class="display-4">Agregar Prestamo</h1>

    <div class="d-grid col-1">
        <h5>Id del usuario</h5>
        <input id="id_us" type="text" />
        <h5>Id del libro</h5>
        <input id="id_lib" type="text" />
        <button class="mt-4" id="sendp">Enviar</button>
    </div>
</div>
